@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
@import "swiper/css/parallax";

.tilog-pagination {
  position: relative;
  z-index: 100;
  left: 310px;
  bottom: 10px;
  width: 45px;
  height: 24px;
  margin: 0 auto;
  padding: 0 12px;
  line-height: 24px;
  letter-spacing: -1px;
  font-size: 11px;
  color: #fff;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .tilog-pagination {
    left: auto;
  }
}

.tilog-pagination > span {
  font-size: 11px;
  color: #fff;
}
